<!-- <nav class="navbar navbar-toggleable-sm navbar-light px-1 py-3 my-3 mb-sm-5">
  <a class="navbar-brand ml-2" href="<%- config.root %>"><img src="/images/cropped-trans-logo.png" width="250"/></a> 
  <button class="navbar-toggler navbar-toggler-right py-2" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> 
  </button> 
  <div class="collapse navbar-collapse text-center" id="navbarCollapse"> 
    <ul class="navbar-nav ml-auto my-auto">
      <% for (var i in config.menu){ %>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for(config.menu[i]) %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
    <hr class="hidden-md-up" />
  </div>
</nav> -->

<nav class="dt w-100 border-box pa3 ph5-ns">
  <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
    <img src="/images/cropped-trans-logo.png" class="dib w5" alt="Site Name">
  </a>
  <div class="dtc v-mid w-75 tr">
    <% for (var i in config.menu){ %>
      <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="<%- url_for(config.menu[i]) %>"><%= i %></a>
    <% } %>
  </div>
</nav>


